<div class="col-xs-10 col-xs-offset-1 about">
  <h1>About Major Quote</h1>

  <br />
  <p> Major Quote was built by <a target="_blank" href="https://github.com/michael-sd">Michael</a> a current student of the Firehose Project and a Design Engineer by trade.</p>
  <br />
  <p>
    Originally from the UK and having worked in the aftermarket automotive industry in Australia, he is taking a massive leap into the world of web development and charging forward with everything he has. Major Quote is his first web app and aimed at inspiring everyone to keep achieving and progressing.
  </p>
  <p>
    You can learn more about Michael <a target="_blank" href="https://www.michaelsd.getforge.io/"> here</a>
  </p>
</div>